<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Pinterest | Register</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="css/stylereg.css">
	<link rel="shortcut icon" href="img/pinterest.ico">

</head>
<body>
	<div class="container">
		<div class="jumbotron">
				<h1 style="color:#F78181">Welcome to Misfenterest</h1>
				<p>The most popular Pinterest clone in ATI</p>
		</div>

		<div class="page-header">
			<label for="title"><p class="text-center">Register</p></label>
		</div>

		<form action="http://mesfinterest.conflei.koding.io:5000/registeraction" role="form" method="post">
			<div class="well">
				<div class="form-group">
						<label for="id">Username: </label>
						<input type="text" class="form-control" name="name" required>
				</div>
				<div class="form-group">
						<label for="id">Fullname: </label>
						<input type="text" class="form-control" name="fullname" required>
				</div>
				<div class="form-group">
						<label for="email">Email: </label>
						<input type="email" class="form-control" name="email" required>
				</div>
				<div class="form-group">	
						<label for="password">Password: </label>
						<input type="password" class="form-control" name="password" required>
				</div>
				<div class="form-group">	
						<label for="repassword">Re-type Password: </label>
						<input type="password" class="form-control" name="repassword" required>
				</div>
						<button type="submit" class="btn btn-danger"><span style="text-decoration:none;color:white">Create</span></button>
			</div>
		</form>
		

	</div>
</body>
</html>